export(rr_accept_rules)
export(rr_block)
export(rr_cancel_match)
export(rr_clear_inbox)
export(rr_config)
export(rr_connect)
export(rr_console)
export(rr_disconnect)
export(rr_find)
export(rr_help)
export(rr_inbox)
export(rr_lan_discover)
export(rr_lan_find)
export(rr_lan_peers)
export(rr_lan_set_available)
export(rr_lan_start)
export(rr_lan_stop)
export(rr_leave)
export(rr_pump)
export(rr_report)
export(rr_rotate_identity)
export(rr_send)
export(rr_set_nickname)
export(rr_status)
export(rr_terms)
S3method(print,rendezr_status)
